<div>
<p>Types of directives in Angular</p>
<p>There are 3 types of directives:<br>
     structural directive, <br>
     attribute directives and<br>
      component directives <br>
      
      <br>so structural directives are <b>:-</b> <br><br>
      NGif <b>,</b> ng4 <b>,</b> ng-switch <br> 
      so these are the examples for structural directive will change the structure of the Doc..<br><br>

   <b> Attribute directives</b> are NG style <b>,</b> NG class. 
    <br><br>
    And component is also one type of directive<br>
     but only the difference is component will have template means view part, 
     <br> and directive will have only the logic .
    
    </p>
</div>
