<div>

    <h2>Closure (in JavaScript)</h2>
    <p>So closer means if we have a variable which is declared outside the function then the scope of the variable is<br>
         a global that ok means we can use that variable outside the function
        <br> as well as inside the function but if we are declaring a variable inside the function<br>
         then the scope of the variable is limited to that particular function only we cannot access outside the function so that is a closer..

    </p>

</div>
