<!--  -->
<div>
<aside class="vertical-menu">
    <a routerLink="/home" routerLinkActive="active" class="active">Introduction</a>
    <a routerLink="/aotjit" routerLinkActive="active">AOT V/S JIT</a>
    <a routerLink="/authguard" routerLinkActive="active">Authguard</a>
    <a routerLink="/bootstrapinang" routerLinkActive="active">Bootstraping in Angular</a>
    <a routerLink="/closure" routerLinkActive="active">Closure</a>
    <a routerLink="/costumepipe" routerLinkActive="active">Costume Pipe in Angular</a>
    <a routerLink="/cssscss" routerLinkActive="active">CSS & SCSS </a>
    <a routerLink="/datashare" routerLinkActive="active">Data Sharing</a>
    <a routerLink="/depending" routerLinkActive="active">Dependency Injections</a>
    <a routerLink="/directives" routerLinkActive="active">Directives in Angular</a>
    <a routerLink="/es6" routerLinkActive="active">ES6 Feature</a>
    <a routerLink="/angform" routerLinkActive="active">Form Type (Validator) in Angular</a>
    <a routerLink="/hoisting" routerLinkActive="active">Hoisting</a>
    <a routerLink="/lazyload" routerLinkActive="active">Lazy loading</a>
    <a routerLink="/monorepo"   routerLinkActive="active">Monorepo</a>
    <a routerLink="/objectdestruct" routerLinkActive="active">Object destruction</a>
    <a routerLink="/promobserv" routerLinkActive="active">Promises & Observable</a>
    <a routerLink="/rxjx" routerLinkActive="active">RXJX</a>
    <a routerLink="/smmap" routerLinkActive="active">Switch Map & Merge Map</a>
    <a routerLink="/takeuntil" routerLinkActive="active">Take Until</a>
    <a routerLink="/rxjx" routerLinkActive="active">RXJX</a>
    <a routerLink="/rxjx" routerLinkActive="active">RXJX</a>
</aside>
</div>
<!-- <li><a routerLink="/bhoomi" routerLinkActive="active">Bhoomi  </a></li> -->