<div>
    <h1>Promise & Observable</h1>
    <p>
        A <b>Promise </b>handles a single event when an async operation completes or fails.<br><br>

        An <b>Observable </b>
        is like a Stream (in many languages) and allows to pass zero or more events <br>
        where the callback is called for each event.<br><br><br>

        Promise can be used by DOT THEN method<br>
        Observable uses .subscribe method
        <br><br><br>
        Promise will be asynchronous only<br>
        Observable can be synchronous or asynchronous
        <br><br><br>
        Promise can not be cancelled<br>
        Observables can be cancelled by unsubscribing .


    </p>
</div>