<div>
    <h2>Type of Angular forms</h2>
    <h3>(Form validation in angular)</h3>
    <h4>Template driven Form / Reactive Form</h4>
    <p>There are two type of forms template driven form and reactive form </p>
    <p>if it is a <u>simple form </u>then we can use a <u>template driven form </u> <b>by using NG model</b>
        and we can do two way data binding </p>
    <p> If it is like <u>Complex form</u> then usually we use <u>reactive form </u> <b>by using formGorup and formgroupcontrol, </b>
        <br>in <b>reactive forms</b>
        the <u>control will be inside the component</u> whereas<br> in<b> template driven form </b>the <u>control
        will be inside the template</u>, which means all the validation will be at the temperate label
        in a temporary inform and indirectly from the valuation will be handle in the typescript.
    </p>
</div>