<div>
    <h2>AOT & JIT</h2>
    <h3>(ahead of time / just in time)</h3>
    <p>Compilation Aot means ahead of time compilation and JIT means just in time compilation.</p>
    <p> In ahead of time compilation application will<u> compile before it goes to
            the browser </u>whereas </p>
    <p>in just in time compilation compilation will happen<u> in runtime</u></p>
    <p> so advantage of AOT it is we are compiling the application before runtime that means we
        can catch any other if there is any pause,<br> it will also improve the performance because
        Because application is already compiled <br>so when it runs in the browser it will not require
        any additional compilation.</p>
    <p> Whereas just-in-time compilation every time when we are moving
        from one route to another the compilation will happen so it will impact the performance.
    </p>
</div>