<div>
    <h2> RXJS operators</h2>

    <p> So in an RXJS I have used of ,from, observable, mergemap , switchmap forkjoin, subject, behaviour subject, map </p>
    <p> It can be used in your browser or with Node. js.</p>
    <p>    RxJS observables allow you to publish events.</p>
<!-- Reactive Extensions for JavaScript, or RxJS, is a reactive library used to implement reactive programming to deal 
    with async implementation, callbacks, and event-based programs. It can be used in your browser or with Node. js.
     RxJS observables allow you to publish events. -->
</div>