<div>
    <h2>Dependency Injection</h2>
    <p>Dependency injection is a <u>design pattern</u>.</p>
    <p> For example if we have a service and we are injecting a service inside any component then if the service
        is dependent on
        more services then we don't have to inject those services one by one inside the
        component </p>
    <p> If we are injecting the main service inside the constructorthen it will
        create a new instance of that service and the service with its or dependency it will be
        readily available to use inside the component so that the Dependency injection.
    </p>

</div>