<div>

    <pre> So whenever we want to share the data in components for that there are 4 methods which are </pre>

    <p> <b>parent to Child: via @Input </b></p>

    <p><b> Child to Parent: via @Output() </b>and EventEmitter
        <br> by using a event emitter and
    </p>

    <p> <b>Child to Parent: via @ViewChild</b> </p>

    <p><b> Unrelated Components: via a Service</b> <br>
        We can also use this service if there is no relation between the components.<br>
        inside the service we can use a subject for behaviour from RXJS library.
    </p>

</div>