<div>
<h1>CSS V/S SCSS </h1>
<p> SCSS contains all the features of CSS and contains more features that are not present in CSS <br>
    which makes it a good choice for developers to use it.<br>
     SCSS is full of advanced features which offers so variables so that you can shorten your code by using variables like in scss.<br>
    Like Sass lets you use features that do not exist in CSS, like variables, nested rules, mixins, imports, inheritance, built-in functions, and other stuff.
   </p>
</div>
