
<div>
    <p>I have a total of 6 years of experience working as a UI developer. Technology has worked as <u>HTML CSS JavaScript</u>
    </p>

<p><u> typescript and different versions of angular</u>. The last version I have worked on is angular 10.</p>


<p>For version control we were using <b>GIT</b> and I also have experience of using a bitbucket.</p>

<p>For the <b>deployment</b> tool we were using <b>Jenkins</b>.</p>

<p>For the methodology used to work in <b>agile</b>. We had a sprint of 2 weeks. </p>
<p>There we had to do a <b>sprint demo</b> at the end of the sprint and I was taking care of the demo<u> on behalf of 
    onshore and Offshore team members</u>.</p>

<p>To track the user story we use in <b>Jira</b>
    .</p>

<p>The <b>last project</b> I was Working was for Infosys and the client was Apple.
    So that project was internal application for the apple and it was used by all Mercy
    healthcare employees so basically whenever any employees wants to take a leave or they want to
    update the hours and also personal profile then they were accessing the application whatever we develop
    it was the role based application so based on user role we were giving them the access for example if the
    administrator has logged in then they can view all the employees they can add update delete any employees but if the
    employee is logged in that they can view only their information and we were handling this based on the API
    response and we were storing the user scroll inside the session storage and then we were using a ng-if directive
    to hide and show that particular functionality.</p>


<h2>Daily routine</h2>


<p>So<u> daily status meeting </u>, over there we have to give our status for user story we are working on it if there is any
   <u> blocker </u>or anything we required then we usually update that in the status meeting and we had a spring meeting
    every other week in that one we decide the user story we are going to work on it in the next upcoming sprint and
    we have to make sure we have a clear understanding of that user story as well.</p>
<h2>Role </h2>
<p>So my role was working as a <u>lead developer</u>. I had an option team member as well so at the end of sprint
    they were creating the Pull Request in GIT . And I had to review their code and if everything looks fine then
    I was merging inside the develop branch.</p>
</div>
