<div>
    <h1>Lazy loading </h1>
    <p>
        So lazy loading means load as needed <br>
        for example if you have a
        bigger application then by default we have only one module call
        app module <br>
        but we can divide entire application into multiple
        modulus and<br>
         each module will have their own routing file and in
        main routing file <br>
        we will have path and load children.
        <br> in load  children we will define the path of the module <br>
        for example if this is the path then which module we want to load it.<br>
         Once it is done then the module will have the routing files <br>
         over there it will define if that is the path and which component we want to load it<br>
          so basically it will load the components as user is moving to the
        second level or Third Level navigation<br>
         it will not load all the components even if it is not required which will make the application lighter.



    </p>
</div>