<div>
    <h1>costume pipe in Angular</h1>
    <p>So yes I have created a custom pipe so basically if we have a requirement where<br>
        we have to create a custom pipe then we use the command call NG generate Pipe and name of pipe.<br>
        It will create a pipe.ts file and in that one there will be a pipe Transform function <br>
        which will take value as an argument and inside that function we can write our logic <br>
        for example once we get the value then what we want to do a value and then <br>
        it will return after applying that particular logic.

    </p>
</div>